@import "../partials/variables";

#mobile__window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.mobile__window-wrapper {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 450px;
    background: var(--input-color);
    z-index: 1000;
    box-shadow: $box-shadow;
    border-radius: 5px;
}

.mobile__window-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    position: relative;

    img {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%) scale(0.7);
    }

    span {
        flex-basis: 13%;
        cursor: pointer;
        font-size: 1.5rem;
        color: $blue;
        text-align: center;
    }

    input {
        height: 70px;
        padding: 0 2em;
        padding-left: 3em;
        border: none;
        outline: none;
        flex-basis: 87%;
        background: var(--input-color);
        color: var(--theme-font-color);
    }
}

.mobile__window-body {
    padding: 1em;

    button {
        margin-top: 2em;
        width: 100%;
    }
}
