@import "../partials/variables";

.button {
    background: $blue;
    height: 40px;
    min-width: 80px;
    outline: none;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;

    &:hover {
        background: white;
        border: 1px solid $blue;
        color: $blue;
        transition: all 0.3s;
    }
}
