.button, button {
  background: #5964e0;
  height: 40px;
  min-width: 80px;
  outline: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
}

.button:hover, button:hover {
  background: white;
  border: 1px solid #5964e0;
  color: #5964e0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-color: #f3f5f7;
  --input-color: white;
  --theme-font-color: black;
}

html,
body {
  font-size: 16px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: var(--theme-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__checked {
  display: none;
  position: absolute;
  z-index: 5;
}

.checkbox__text {
  margin-left: 25px;
  color: var(--theme-font-color);
}

.checkbox__element {
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--theme-color);
  border: 1px solid gainsboro;
}

.header {
  display: block;
  position: relative;
}

.header__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 170px;
  z-index: -1;
  background: url("../assets/desktop/bg-pattern-header.svg") no-repeat;
  background-size: 100% 170px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__content a {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

.header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__switch-container {
  display: inline-block;
  margin: 0 15px;
  height: 20px;
  width: 40px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.header__switch-ball {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: #5964e0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.header__filter {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
  width: 80%;
  max-width: 1200px;
  background: var(--input-color);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: -30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
}

.header__filter .header__search,
.header__filter .header__button,
.header__filter .header__location {
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

.header__filter .header__search:not(.header__button),
.header__filter .header__button:not(.header__button),
.header__filter .header__location:not(.header__button) {
  border-right: 1px solid gainsboro;
}

.header__filter .header__search img,
.header__filter .header__button img,
.header__filter .header__location img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header__filter .header__search input,
.header__filter .header__button input,
.header__filter .header__location input {
  width: 100%;
  margin: 0 1em;
  height: 40px;
  border: none;
  outline: none;
  background: var(--input-color);
  color: var(--theme-font-color);
}

.header__filter .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__filter .header__search-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.header__filter .header__search-mobile img {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.header__filter .header__search-mobile button {
  min-width: 33px;
  height: 33px;
  padding: 0;
  margin-left: 0.5em;
  background: url("../assets/mobile/icon-search-white.svg") no-repeat center center;
  background-size: 16px 16px;
  background-color: #5964e0;
}

.header__filter .header__search-mobile button:hover {
  background: url("../assets/desktop/icon-search.svg") no-repeat center center;
  background-size: 16px 16px;
  padding: 0;
}

#main {
  display: block;
  padding: 8em 0 3em 0;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 60px 25px;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

#main .box {
  min-height: 225px;
  max-height: 225px;
  max-width: 400px;
  width: 100%;
  background: var(--input-color);
  border-radius: 10px;
  padding: 2em;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#main .box__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  background: var(--input-color);
  border-radius: 10px;
  left: 1em;
  top: -2em;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--theme-font-color);
}

#main .box__header img {
  max-width: 100%;
  border-radius: 10px;
}

#main .box__content--day {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  color: #6d7f97;
}

#main .box__content--day .dot {
  margin: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .box__content--title {
  margin: 1em 0;
  font-weight: bold;
  color: var(--theme-font-color);
}

#main .box__content--company {
  color: #6d7f97;
  font-size: 0.9rem;
}

#main .box__content--location {
  position: absolute;
  left: 2em;
  bottom: 2em;
  color: #5964e0;
}

#fetch__error {
  text-align: center;
  display: none;
  color: var(--theme-font-color);
  width: 80%;
  margin: 0 auto;
  margin-top: 5em;
}

#loading {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--theme-color);
}

#loading__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--theme-font-color);
}

#loading__spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--input-color);
  border-radius: 50%;
  border-top-color: #5964e0;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

#loading span {
  margin-top: 2em;
}

#load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 3em 0;
}

#rocket {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: none;
}

#rocket__wrapper {
  position: relative;
}

#rocket__body {
  width: 50px;
  height: 80px;
  cursor: pointer;
}

#rocket__flame {
  width: 30px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  -webkit-animation: flames 0.7s infinite;
          animation: flames 0.7s infinite;
}

#mobile__window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.mobile__window-wrapper {
  position: relative;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  background: var(--input-color);
  z-index: 1000;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.mobile__window-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gainsboro;
  position: relative;
}

.mobile__window-header img {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.7);
          transform: translateY(-50%) scale(0.7);
}

.mobile__window-header span {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  cursor: pointer;
  font-size: 1.5rem;
  color: #5964e0;
  text-align: center;
}

.mobile__window-header input {
  height: 70px;
  padding: 0 2em;
  padding-left: 3em;
  border: none;
  outline: none;
  -ms-flex-preferred-size: 87%;
      flex-basis: 87%;
  background: var(--input-color);
  color: var(--theme-font-color);
}

.mobile__window-body {
  padding: 1em;
}

.mobile__window-body button {
  margin-top: 2em;
  width: 100%;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes flames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1400px) {
  #main .box {
    max-width: 100%;
    padding: 1.2em;
  }
  #main .box__content--location {
    left: 1.2em;
  }
}

@media only screen and (max-width: 920px) {
  .header__filter .header__search,
  .header__filter .header__location {
    width: 28%;
  }
  .header__filter .header__button {
    width: 44%;
  }
  .header__img {
    background: url("../assets/mobile/bg-pattern-header.svg") no-repeat;
    background-size: 100% 170px;
  }
}

@media only screen and (max-width: 600px) {
  .header__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.5em;
  }
  .header__filter .header__search {
    border-right: none !important;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .header__filter .header__location,
  .header__filter .header__button {
    display: none;
  }
  .header__filter .header__search-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #main .box {
    max-width: 100%;
    padding: 1.2em;
  }
  #main .box__content--location {
    left: 1.2em;
  }
}
/*# sourceMappingURL=index.css.map */