.button, .header__filter div:last-child #search__button, #load-more__button {
  background: #5964e0;
  height: 40px;
  min-width: 80px;
  outline: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
}

.button:hover, .header__filter div:last-child #search__button:hover, #load-more__button:hover {
  background: white;
  border: 1px solid #5964e0;
  color: #5964e0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-color: #f3f5f7;
  --input-color: white;
  --theme-font-color: black;
}

html,
body {
  font-size: 16px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: var(--theme-color);
}

.header {
  display: block;
  position: relative;
}

.header__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 170px;
  z-index: -1;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__content p {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
}

.header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__switch-container {
  display: inline-block;
  margin: 0 15px;
  height: 20px;
  width: 40px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.header__switch-ball {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: #5964e0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.header__filter {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--input-color);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: -30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
}

.header__filter div {
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

.header__filter div:not(:last-child) {
  border-right: 1px solid gainsboro;
}

.header__filter div img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header__filter div input {
  width: 100%;
  margin: 0 1em;
  height: 40px;
  border: none;
  outline: none;
  background: var(--input-color);
  color: var(--theme-font-color);
}

.header__filter div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__filter div:last-child .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__filter div:last-child .checkbox__checked {
  display: none;
  position: absolute;
  z-index: 5;
}

.header__filter div:last-child .checkbox__text {
  margin-left: 25px;
  color: var(--theme-font-color);
}

.header__filter div:last-child .checkbox__element {
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--theme-color);
  border: 1px solid gainsboro;
}

#main {
  display: block;
  padding: 8em 0 3em 0;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 60px 25px;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#main .box {
  min-height: 225px;
  max-height: 225px;
  max-width: 400px;
  width: 100%;
  background: var(--input-color);
  border-radius: 10px;
  padding: 2em;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#main .box__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  background: var(--input-color);
  border-radius: 10px;
  left: 1em;
  top: -2em;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .box__header img {
  max-width: 100%;
  border-radius: 10px;
}

#main .box__content--day {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  color: #6d7f97;
}

#main .box__content--day .dot {
  margin: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .box__content--title {
  margin: 1em 0;
  font-weight: bold;
  color: var(--theme-font-color);
}

#main .box__content--company {
  color: #6d7f97;
  font-size: 0.9rem;
}

#main .box__content--location {
  position: absolute;
  left: 2em;
  bottom: 2em;
  color: #5964e0;
}

#fetch__error {
  text-align: center;
  display: none;
  margin-top: 5em;
}

#loading {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--theme-color);
}

#loading__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--theme-font-color);
}

#loading__spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--input-color);
  border-radius: 50%;
  border-top-color: #5964e0;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

#loading span {
  margin-top: 2em;
}

#load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 3em 0;
}

#rocket {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: none;
}

#rocket__wrapper {
  position: relative;
}

#rocket__body {
  width: 50px;
  height: 80px;
  cursor: pointer;
}

#rocket__flame {
  width: 30px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  -webkit-animation: flames 0.7s infinite;
          animation: flames 0.7s infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes flames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */